.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed var(--border-color);
  svg {
    color: var(--text-color);
    cursor: pointer;
  }
  .left-area {
    .dashboard-icon {
      background-color: var(--bg-color);
      padding: 5px;
      border-radius: 5px;
    }
  }
  .right-area {
    display: flex;
    align-items: center;
    gap: 0.554rem;
    justify-content: flex-end;
    .profile-icon {
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
